@using FanurApp.Enums;
@model CourseIndexVM;

<partial name="~/Views/PartialComponents/_AlertMessage.cshtml" model="Model.Message" />

<a class="btn btn-info" asp-controller="Administrator" asp-action="Course" asp-route-id="0">Yangi kurs yaratish</a>
<a class="btn btn-success" asp-controller="Administrator" asp-action="CourseIndex">Sahifani yangilash</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nomi</th>
            <th>Tavsifi</th>
            <th>Muallifi</th>
            <th>Yaratilgan vaqti</th>
            <th>O'zgartirilgan vaqti</th>
            <th>Tahrirlash</th>
            <th>O'chirish</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <th>@course.Id</th>
                <th>@course.Name</th>
                <th>@course.Description</th>
                <th>@course.Author</th>
                <th>@course.CreatedDate</th>
                <th>@course.UpdatedDate</th>
                <th>
                    <a class="btn btn-warning" asp-controller="Administrator" asp-action="Course"
                       asp-route-id="@course.Id">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </th>
                <th>
                    <form method="post" asp-controller="Administrator" asp-action="DeleteCourse"
                          asp-route-id="@course.Id">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table> 