@using FanurApp.Enums;
@model DefinitionIndexVM;

<partial name="~/Views/PartialComponents/_AlertMessage.cshtml" model="Model.Message" />

<a class="btn btn-info" asp-controller="Administrator" asp-action="Definition" asp-route-id="0">Yangi definitionni yaratish</a>
<a class="btn btn-success" asp-controller="Administrator" asp-action="DefinitionIndex">Sahifani yangilash</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Html ko'rinishi</th>
            <th>Qaysi mavzuga tegishli</th>
            <th>Muallifi</th>
            <th>Yaratilgan vaqti</th>
            <th>O'zgartirilgan vaqti</th>
            <th>Tahrirlash</th>
            <th>O'chirish</th>
            <th>Ko'rish</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var definition in Model.Definitions)
        {
            <tr>
                <th>@definition.Id</th>
                <th>@definition.HMTLText</th>
                <th>@definition.TopicName</th>
                <th>@definition.Author</th>
                <th>@definition.CreatedDate</th>
                <th>@definition.UpdatedDate</th>
                <th>
                    <a class="btn btn-warning" asp-controller="Administrator" asp-action="Definition"
                       asp-route-id="@definition.Id">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </th>
                <th>
                    <form method="post" asp-controller="Administrator" asp-action="DeleteDefinition"
                          asp-route-id="@definition.Id">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>
                </th>
                <th>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#definitionDetailsModal_@definition.Id">
                        <i class="bi bi-layout-text-sidebar-reverse"></i>
                    </button>
                    <partial name="_DefinitionDetails" model="definition"></partial>
                </th>
            </tr>
        }
    </tbody>
</table>