@model FileIndexVM;
@{
    int count = Model.Files.Count;
    int page = 1;
}

<partial name="~/Views/PartialComponents/_AlertMessage.cshtml" model="Model.Message" />
<div class="mb-5 flex items-center gap-2">
    <a class="btn btn-info gap-2" asp-controller="Administrator" asp-action="File">
        @Localizer["create_new_file"]
    </a>
    <a class="btn btn-success gap-2" asp-controller="Administrator" asp-action="FileIndex">@Localizer["refresh_page"]</a>
</div>

@while (page != ((count - 1) / 3 + 2))
{
    <div class="max-w-[320px] md:max-w-[990px] mx-auto">
        <div class="md:flex justify-betwen md:space-y-0 rtl:space-x-reverse">
            @foreach (var file in Model.Files.Skip((page - 1) * 3).Take(3).ToList())
            {
                <div class="border border-black dark:border-[#1b2e4b] text-center rounded group hover:border-primary">
                    <div class="py-7 px-6">
                        <h4 class="text-[#3b3f5c] text-xl font-semibold mb-4 dark:text-white-light">@file.TopicName</h4>
                        @if (file.FileTypeId == (int)FanurApp.Commons.Enums.FileTypesEnum.Audio)
                        {
                            <audio controls>
                                <source src="~/files/@string.Format("{0}",file.Name)">
                            </audio>
                        }
                        else if (file.FileTypeId == (int)FanurApp.Commons.Enums.FileTypesEnum.Image)
                        {
                            <img width="100px" src="~/files/@string.Format("{0}",file.Name)">
                        }
                        <br />
                        <div>
                            @Html.Raw(file.Description)
                        </div>
                        <div class="mb-5 flex items-center gap-2">
                            <form method="post" asp-controller="Administrator" asp-action="DeleteFile"
                                  asp-route-id="@file.Id">
                                <button type="submit" class="btn btn-danger gap-2">
                                    <i class="bi bi-trash3"></i>@Localizer["deleting"]
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    page = page + 1;
}