@model ResourceIndexVM;

<partial name="~/Views/PartialComponents/_AlertMessage.cshtml" model="Model.Message" />

<div class="mb-5 flex items-center gap-2">
    <a class="btn btn-info" asp-controller="Administrator" asp-action="Resource" asp-route-id="0">Yangi so'zni yaratish</a>
    <a class="btn btn-success" asp-controller="Administrator" asp-action="ResourceIndex">Sahifani yangilash</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Til nomi</th>
            <th>Kalit so'zi</th>
            <th>Qiymati</th>
            <th>Yaratilgan vaqti</th>
            <th>O'zgartirilgan vaqti</th>
            <th>Tahrirlash</th>
            <th>O'chirish</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resource in Model.Resources)
        {
            <tr>
                <th>@resource.Id</th>
                <th>@resource.CultureName</th>
                <th>@resource.Key</th>
                <th>@resource.Value</th>
                <th>@resource.CreatedDate</th>
                <th>@resource.UpdatedDate</th>
                <th>
                    <a class="btn btn-warning" asp-controller="Administrator" asp-action="Resource"
                       asp-route-id="@resource.Id">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </th>
                <th>
                    <form method="post" asp-controller="Administrator" asp-action="DeleteResource"
                          asp-route-id="@resource.Id">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table> 