@using FanurApp.Enums;
@model TopicIndexVM;

<partial name="~/Views/PartialComponents/_AlertMessage.cshtml" model="Model.Message" />

<a class="btn btn-info" asp-controller="Administrator" asp-action="Topic" asp-route-id="0">Yangi mavsuni yaratish</a>
<a class="btn btn-success" asp-controller="Administrator" asp-action="TopicIndex">Sahifani yangilash</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nomi</th>
            <th>Qaysi kursga tegishli</th>
            <th>Tavsifi</th>
            <th>Muallifi</th>
            <th>Yaratilgan vaqti</th>
            <th>O'zgartirilgan vaqti</th>
            <th>Harakatlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model.Topics)
        {
            <tr>
                <th>@topic.Id</th>
                <th>@topic.Name</th>
                <th>@topic.CourseName</th>
                <th>@topic.Description</th>
                <th>@topic.Author</th>
                <th>@topic.CreatedDate</th>
                <th>@topic.UpdatedDate</th>
                <th>
                    <a class="btn btn-info" asp-controller="Administrator" asp-action="Topic"
                       asp-route-id="@topic.Id">Tahrirlash</a>
                    <form method="post" asp-controller="Administrator" asp-action="DeleteTopic"
                          asp-route-id="@topic.Id">
                        <input type="submit" value="O'chirish" class="btn btn-danger" />
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table> 