@model UserVM

<form class="space-y-5" method="post" asp-controller="Administrator" asp-action="User">
    <partial name="~/Views/PartialComponents/_AlertMessage.cshtml" model="Model.ErrorMessage" />
    <div class="mb-3">
        <input class="form-input" asp-for="Id" type="hidden">
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="Name">@Localizer["enter_name_of_user"]</label>
        <input class="form-input" asp-for="Name" type="text">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="Email">@Localizer["enter_email_of_user"]</label>
        <input class="form-input" asp-for="Email" type="email">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="Password">@Localizer["enter_password_of_user"]</label>
        <input class="form-input" asp-for="Password" type="text">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="RoleId">@Localizer["enter_role_name"]</label>
        <select class="form-select" asp-for="RoleId"
                asp-items="Model.Roles.Select(i=>new SelectListItem(){Value = i.Id.ToString(), Text = i.Name})">
        </select>
        <span class="text-danger" asp-validation-for="RoleId"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2 text-muted" asp-for="IsAccepted">@Localizer["user_approval_by_admin"]</label>
        <input class="form-checkbox" asp-for="IsAccepted" type="checkbox">
        <span class="text-danger" asp-validation-for="IsAccepted"></span>
    </div>
    <div class="mb-5 flex items-center gap-2">
        <button class="btn btn-primary gap-2" type="submit">@Localizer["save"]</button>
        <a class="btn btn-success gap-2" asp-controller="Administrator" asp-action="UserIndex">@Localizer["go_to_main_page"]</a>
    </div>
</form>