@model VideoVM;
<div class="inner">
    <div class="plyr__video-embed rbtplayer">
        <iframe src="@Model.VideoURL" allowfullscreen allow="autoplay"></iframe>
    </div>
    <div class="content">
        <div class="section-title">
            <h4>@Model.TopicName</h4>
            <p>
                @Localizer["student_video_description"]
            </p>
        </div>
    </div>
</div>

<div class="bg-color-extra2 ptb--15 overflow-hidden">
    <div class="rbt-button-group">
        @if (Model.PreviousTopicId.HasValue)
        {
            <a class="rbt-btn icon-hover icon-hover-left btn-md bg-primary-opacity"
               asp-action="Video" asp-controller="Student" asp-route-topicId="@Model.PreviousTopicId">
                <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                <span class="btn-text">@Localizer["previous"]</span>
            </a>
        }
        @if (Model.NextTopicId.HasValue)
        {
            <a class="rbt-btn icon-hover btn-md"
               asp-action="Video" asp-controller="Student" asp-route-topicId="@Model.NextTopicId">
                <span class="btn-text">@Localizer["next"]</span>
                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
            </a>
        }
    </div>
</div>