<a class="close_side_menu" href="javascript:void(0);"></a>

<div class="rbt-page-banner-wrapper">
    <div class="rbt-banner-content">
        <!-- Start Banner Content Top  -->
        <div class="rbt-banner-content-top rbt-breadcrumb-style-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="content text-center">
                            <h2 class="title theme-gradient">@Localizer["course_beginner"]</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Content Top  -->
    </div>
</div>

<div class="rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="inner">
        <div class="container">
            <div class="col-lg-12">
                <div class="row row--30 gy-5 pt--60">
                    <div class="col-lg-4">
                        <div class="course-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                            <div class="inner">
                                <div class="content-item-content">
                                    <!-- Start Viedo Wrapper  -->
                                    <a class="video-popup-with-text video-popup-wrapper text-center popup-video mb--15" href="https://www.youtube.com/watch?v=QGJuMBdaqIw">
                                        <div class="video-content">
                                            <img class="w-50 rbt-radius" src="~/lib/main_template/assets/images/fanur/markus.png" alt="Video Images">
                                            <div class="position-to-top">
                                                <span class="rbt-btn rounded-player-2 with-animation">
                                                    <span class="play-icon"></span>
                                                </span>
                                            </div>
                                            <span class="play-view-text d-block color-white">
                                                <i class="feather-eye"></i>
                                                @Localizer["watch_the_video_of_the_course"]
                                            </span>
                                        </div>
                                    </a>
                                    <!-- End Viedo Wrapper  -->
                                </div>
                            </div>
                        </div>
                        <div class="course-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                            <div class="inner">
                                <div class="content-item-content">
                                    <div class="rbt-price-wrapper d-flex flex-wrap align-items-center justify-content-between">
                                        <div class="rbt-price">
                                            <span class="current-price">@Localizer["beginner_course_price"]</span>
                                        </div>
                                    </div>

                                    <div class="add-to-card-button mt--15">
                                        <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" asp-action="Video" asp-controller="Student">
                                            <span class="btn-text">@Localizer["view_the_course"]</span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </a>
                                    </div>

                                    <div class="buy-now-btn mt--15">
                                        <a class="rbt-btn btn-border icon-hover w-100 d-block text-center" asp-action="Payment" asp-controller="Student">
                                            <span class="btn-text">@Localizer["purchase_the_course"]</span>
                                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </a>
                                    </div>

                                    <div class="rbt-widget-details has-show-more">
                                        <ul class="has-show-more-inner-content rbt-course-details-list-wrapper">
                                            <li>
                                                <span>@Localizer["size_course_begginner"]</span>
                                                <span class="rbt-feature-value rbt-badge-5">@Localizer["value_size_course_begginner"]</span>
                                            </li>
                                            <li><span>@Localizer["task_course_begginner"]</span><span class="rbt-feature-value rbt-badge-5">@Localizer["value_task_course_begginner"]</span></li>
                                            <li><span>@Localizer["degree_course_begginner"]</span><span class="rbt-feature-value rbt-badge-5">@Localizer["value_degree_course_begginner"]</span></li>
                                            <li><span>@Localizer["language_course_begginner"]</span><span class="rbt-feature-value rbt-badge-5">@Localizer["value_language_course_begginner"]</span></li>
                                            <li><span>@Localizer["tests_course_begginner"]</span><span class="rbt-feature-value rbt-badge-5">@Localizer["value_tests_course_begginner"]</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <!-- Start Course Details  -->
                        <div class="course-details-content">
                            <div class="rbt-inner-onepage-navigation sticky-top">
                                <nav class="mainmenu-nav onepagenav">
                                    <ul class="mainmenu">
                                        <li class="current">
                                            <a href="#overview">@Localizer["all_introduction_beginner"]</a>
                                        </li>
                                        <li>
                                            <a href="#coursecontent">@Localizer["content_of_course_beginner"]</a>
                                        </li>
                                        <li>
                                            <a href="#details">@Localizer["details_course_begginner"]</a>
                                        </li>
                                        <li>
                                            <a href="#intructor">@Localizer["teacher_course_begginner"]</a>
                                        </li>
                                        <li>
                                            <a href="#review">@Localizer["result_teacher_course_begginner"]</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Start Course Feature Box  -->
                            <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30 has-show-more" id="overview">
                                <div class="rbt-course-feature-inner has-show-more-inner-content">
                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">@Localizer["title_first_course_begginner"]</h4>
                                    </div>
                                    <p>
                                        @Localizer["description_first_course_begginner"]
                                    </p>

                                    <div class="row g-5 mb--30">
                                        <!-- Start Feture Box  -->
                                        <div class="col-lg-6">
                                            <ul class="rbt-list-style-1">
                                                <li>
                                                    @Localizer["advantages_course_beginner_first"]
                                                </li>
                                                <li>
                                                    @Localizer["advantages_course_beginner_second"]
                                                </li>
                                                <li>
                                                    @Localizer["advantages_course_beginner_third"]
                                                </li>
                                                <li>
                                                    @Localizer["advantages_course_beginner_fourth"]
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End Feture Box  -->
                                        <!-- Start Feture Box  -->
                                        <div class="col-lg-6">
                                            <ul class="rbt-list-style-1">
                                                <li>
                                                    @Localizer["advantages_course_beginner_fife"]
                                                </li>
                                                <li>
                                                    @Localizer["advantages_course_beginner_six"]
                                                </li>
                                                <li>
                                                    @Localizer["advantages_course_beginner_seven"]
                                                </li>
                                                <li>
                                                    @Localizer["advantages_course_beginner_eight"]
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End Feture Box  -->
                                    </div>
                                    <p>
                                        @Localizer["description_second_course_begginner"]
                                    </p>
                                </div>
                                <div class="rbt-show-more-btn">@Localizer["show_more"]</div>
                            </div>
                            <!-- End Course Feature Box  -->
                            <!-- Start Course Content  -->
                            <div class="course-content rbt-shadow-box coursecontent-wrapper mt--30" id="coursecontent">
                                <div class="rbt-course-feature-inner">
                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">@Localizer["themes_beginner"]</h4>
                                    </div>
                                    <div class="rbt-accordion-style rbt-accordion-02 accordion">
                                        <div class="accordion" id="accordionExampleb2">

                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingTwo1">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1">
                                                        To be mavzusiga kirish
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo1" class="accordion-collapse collapse show" aria-labelledby="headingTwo1" data-bs-parent="#accordionExampleb2">
                                                    <div class="accordion-body card-body pr--0">
                                                        <ul class="rbt-course-main-content liststyle">
                                                            <li>
                                                                <a href="lesson.html">
                                                                    <div class="course-content-left">
                                                                        <i class="feather-play-circle"></i> <span class="text">Mavzuni videosi</span>
                                                                    </div>
                                                                    <div class="course-content-right">
                                                                        <span class="min-lable">30 min</span>
                                                                        <span class="rbt-badge variation-03 bg-primary-opacity"><i class="feather-eye"></i> Ko'rish</span>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="lesson.html">
                                                                    <div class="course-content-left">
                                                                        <i class="feather-file-text"></i> <span class="text">Bu mavzu haqida introduction</span>
                                                                    </div>
                                                                    <div class="course-content-right">
                                                                        <span class="rbt-badge variation-03 bg-primary-opacity"><i class="feather-eye"></i> Ko'rish</span>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="accordion-item card">
                                                <h2 class="accordion-header card-header" id="headingTwo2">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                                        Pullik kurs
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExampleb2">
                                                    <div class="accordion-body card-body pr--0">
                                                        <ul class="rbt-course-main-content liststyle">
                                                            <li>
                                                                <a href="lesson.html">
                                                                    <div class="course-content-left">
                                                                        <i class="feather-play-circle"></i> <span class="text">Kursni videosi</span>
                                                                    </div>
                                                                    <div class="course-content-right">
                                                                        <span class="course-lock"><i class="feather-lock"></i></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="lesson.html">
                                                                    <div class="course-content-left">
                                                                        <i class="feather-file-text"></i> <span class="text">Introduction</span>
                                                                    </div>
                                                                    <div class="course-content-right">
                                                                        <span class="course-lock"><i class="feather-lock"></i></span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Course Content  -->
                            <!-- Start Course Feature Box  -->
                            <div class="rbt-course-feature-box rbt-shadow-box details-wrapper mt--30" id="details">
                                <div class="row g-5">
                                    <!-- Start Feture Box  -->
                                    <div class="col-lg-6">
                                        <div class="section-title">
                                            <h4 class="rbt-title-style-3 mb--20">@Localizer["description_details_course_beginner"]</h4>
                                        </div>
                                        <ul class="rbt-list-style-1">
                                            <li>
                                                <i class="feather-check"></i>@Localizer["description_details_course_beginner_first"]
                                            </li>
                                            <li>
                                                <i class="feather-check"></i>@Localizer["description_details_course_beginner_second"]
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Feture Box  -->
                                </div>
                            </div>
                            <!-- End Course Feature Box  -->
                            <!-- Start Intructor Area  -->
                            <div class="rbt-instructor rbt-shadow-box intructor-wrapper mt--30" id="intructor">
                                <div class="about-author border-0 pb--0 pt--0">
                                    <div class="section-title mb--30">
                                        <h4 class="rbt-title-style-3">@Localizer["teacher_beginer"]</h4>
                                    </div>
                                    <div class="media align-items-center">
                                        <div class="thumbnail">
                                            <a href="#">
                                                <img src="~/lib/main_template/assets/images/fanur/markus.png" alt="Author Images">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="author-info">
                                                <h5 class="title">
                                                    <a class="hover-flip-item-wrapper" href="author.html">@Localizer["teacher_name_beginner"]</a>
                                                </h5>
                                                <span class="b3 subtitle">@Localizer["teacher_title_beginner"]</span>
                                            </div>
                                            <div class="content">
                                                <p class="description">
                                                    @Localizer["teacher_description_beginner"]
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Intructor Area  -->
                            <!-- Start Edu Review List  -->
                            <div class="rbt-review-wrapper rbt-shadow-box review-wrapper mt--30" id="review">
                                <div class="course-content">
                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">@Localizer["result_of_beginner_course"]</h4>
                                    </div>
                                    <div class="row g-5 align-items-center">
                                        <div class="col-lg-3">
                                            <div class="rating-box">
                                                <div class="rating-number">5.0</div>
                                                <div class="rating">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                                    </svg>
                                                </div>
                                                <span class="sub-title">@Localizer["aour_teacher_result"]</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Edu Review List  -->
                        </div>
                        <!-- End Course Details  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>