
<a class="close_side_menu" href="javascript:void(0);"></a>

<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">@Localizer["our_projects"]</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-about-area about-style-1 bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="content">
                    <img class="w-100 radius-10" src="~/lib/main_template/assets/images/fanur/girl_1.png" alt="About Images">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="inner pl--50 pl_sm--0 pl_md--0 pl_lg--0">
                    <div class="section-title text-start">
                        <h2 class="title">@Localizer["complete_projects"]</h2>
                        <p class="description mt--20"><strong>@Localizer["complete_projects_description"]</strong></p>

                        <h5 class="mb--20">@Localizer["complete_projects_title"]</h5>
                        <div class="plan-offer-list-wrapper">
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i> @Localizer["complete_projects_first"]</li>
                                <li><i class="feather-check"></i> @Localizer["complete_projects_second"]</li>
                                <li><i class="feather-check"></i> @Localizer["complete_projects_third"]</li>
                                <li><i class="feather-check"></i> @Localizer["complete_projects_fourth"]</li>
                                <li><i class="feather-check"></i> @Localizer["complete_projects_fife"]</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapBottom">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="inner pl--50 pl_sm--0 pl_md--0 pl_lg--0">
                    <div class="section-title text-start">
                        <h2 class="title">@Localizer["waiting_projects"]</h2>
                        <p class="description mt--20"><strong>@Localizer["waiting_projects_description"]</strong></p>

                        <h5 class="mb--20">@Localizer["waiting_projects_tile"]</h5>
                        <div class="plan-offer-list-wrapper">
                            <ul class="plan-offer-list">
                                <li><i class="feather-check"></i> @Localizer["waiting_projects_first"]</li>
                                <li><i class="feather-check"></i> @Localizer["waiting_projects_second"]</li>
                                <li><i class="feather-check"></i> @Localizer["waiting_projects_third"]</li>
                                <li><i class="feather-check"></i> @Localizer["waiting_projects_fourth"]</li>
                                <li><i class="feather-check"></i> @Localizer["waiting_projects_fife"]</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2">
                <div class="content">
                    <img class="w-100 radius-10" src="~/lib/main_template/assets/images/fanur/girl_2.png" alt="About Images">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>